{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/font-owsome.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Join Drawing</title>
</head>

<body>
  <h2>Connect Devices</h2>
  <input id="me" placeholder="Your username">
  <input id="to" placeholder="Connect to username">

  <select id="role">
    <option value="writer">Writer</option>
    <option value="board">Board</option>
  </select>

  <br><br>

  <button type="button" onclick="connect()">Create Link</button>

  <br><br>

  <input id="link" readonly>

  <button type="button" onclick="copyLink()">Copy Link</button>

  <br><br>

  <button type="button" onclick="startSession()" disabled id="startBtn">
    Start
  </button>

  <script src="{% static 'js/connect.js' %}"></script>
</body>
</html>