
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static  'css/font-owsome.css' %}">
  <link rel="stylesheet" href="{% static  'css/style.css' %}">
  <title>Join Drawing</title>
  <style>

  </style>
</head>
<body>
<h2>Connect Devices</h2>
  <label>Your Username:</label>
  <input id="me" placeholder="e.g. phone" /><br><br>

  <label>Send To (Receiver Username):</label>
  <input id="to" placeholder="e.g. system" /><br><br>

  <label>Role:</label>
  <select id="role">
    <option value="writer">Writer (Input Device)</option>
    <option value="board">Board (Output Device)</option>
  </select><br><br>

  <button onclick="connect()">Start</button>

 <script src="{% static  'js/js.js' %}"></script>
</body>
</html> 

